doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='./img/icons/favicon.png' type='image/x-icon')
    title Loft

body
    header
        section.section.section-header
            .section-header__container
                .section-header__logo
                    img.section-header__img(src="./img/logo-loft.png")
                .section-header__exclusive Exclusive for you
    main
        section.section.loft_offer
            .loft_offer__container
                .loft_offer__title
                    |new to
                    br.loft_offer__br.loft_offer__br--mobile
                    |the loft?
                .loft_offer__limited
                    fieldset.loft_offer__limited_border
                        legend.loft_offer__limited_title Limited Time Offer:*
                        | Mani & Pedi for
                        b.loft_offer__bold AED 150
                        | only
                .loft_offer__complimentary
                    .loft_offer__complimentary_plus +
                    .loft_offer__complimentary_title Complimentary Head & Shoulder Massage
                .loft_offer__section-img.loft_offer__section-img--mobile
                    img.loft_offer__img(src="./img/loft_offer_img.png")
                form.loft_offer__form
                    .loft_offer__form_container
                        .loft_offer__form_title claim your treat now
                        input.loft_offer__form_input(type="text", placeholder="Your Name")
                        input.loft_offer__form_input(type="e-mail", placeholder="Your Email")
                        input.loft_offer__form_input(type="phone", placeholder="Contact number")
                        input.loft_offer__form_submit(type="submit", value="SUBMIT")
        section.section.loft_phones
            .section__container
                .section__title
                    | The Loft Fifth Avenue is UAE's award-winning beauty destination
                    br
                    | for Hair, Nails and Spa, located across 11 convenient locations:
                .section__divider
            .loft_phones__container
                .loft_phones__panel
                    .loft_phones__city DUBAI MALL
                    .loft_phones__phone +971 4 434 0856
                .loft_phones__panel
                    .loft_phones__city Wasl Vita Mall
                    .loft_phones__phone +971 4 343 9669
                .loft_phones__panel
                    .loft_phones__city Yas Mall
                    .loft_phones__phone +971 2 565 0060
                .loft_phones__panel
                    .loft_phones__city Palm Jumeirah
                    .loft_phones__phone +971 4 457 7813
                .loft_phones__panel
                    .loft_phones__city Mudon
                    .loft_phones__phone +971 4 514 8287
                .loft_phones__panel
                    .loft_phones__city Mall Of The Emirates
                    .loft_phones__phone +971 4 347 4723
                .loft_phones__panel
                    .loft_phones__city Jumeirah Islands
                    .loft_phones__phone +971 4 243 4086
                .loft_phones__panel
                    .loft_phones__city Mirdif
                    .loft_phones__phone +971 4 553 9183
                .loft_phones__panel
                    .loft_phones__city Shades By Loft
                    .loft_phones__phone +971 4 333 0385
                .loft_phones__panel
                    .loft_phones__city Motor City
                    .loft_phones__phone +971 4 565 5091
                .loft_phones__panel
                    .loft_phones__city Bay Square (Gents Only)
                    .loft_phones__phone +971 4 457 6641

        section.section.section__img.section__img--pc
            img.section__img(src="./img/section_img_1.png")
        section.section.section__img.section__img--mobile
            img.section__img(src="./img/section_img_1_mb.png")

        section.section.section_advantages
            .section__container
                .section__gradient_title Enjoy additional benefits with every appointment:
                .section__divider
            .section_advantages__container
                .section_advantages__companionship.section_advantages__companionship--pc
                    img.section_advantages__logo(src="./img/kerastase.png")
                    img.section_advantages__logo(src="./img/redken.png")
                    img.section_advantages__logo(src="./img/babor.png")
                    img.section_advantages__logo(src="./img/lycon.png")
                    img.section_advantages__logo(src="./img/ghd.png")
                .section_advantages__items
                    .section_advantages__item
                        .section_advantages__item_icon
                        .section_advantages__item_title Complimentary hair consultation
                    .section_advantages__item
                        .section_advantages__item_icon
                        .section_advantages__item_container
                            .section_advantages__item_title Luxurious in-salon professional care with every treat (Kerastase, Redken, GHD, Babor Skin Care, Lycon)
                            .section_advantages__companionship.section_advantages__companionship--mobile
                                img.section_advantages__logo(src="./img/kerastase_mb.png")
                                img.section_advantages__logo(src="./img/redken_mb.png")
                                img.section_advantages__logo(src="./img/babor_mb.png")
                                img.section_advantages__logo(src="./img/ghd_mb.png")
                                img.section_advantages__logo(src="./img/lycon_mb.png")
                    .section_advantages__item
                        .section_advantages__item_icon
                        .section_advantages__item_title Loyalty points with every service and cash backs starting 5%
                    .section_advantages__item
                        .section_advantages__item_icon
                        .section_advantages__item_title Become a part of The Loft family and enjoy receiving Seasonal offers and promotions to suit every need
                    .section_advantages__item
                        .section_advantages__item_icon
                        .section_advantages__item_title Enjoy further privileges if you are a member of Fitness First, Emirates crew, U by Emaar
                    .section_advantages__item
                        .section_advantages__item_icon
                        .section_advantages__item_title Become a “Loftian” and receive our quarterly Newsletters and get to know more about the latest trends in beauty, hair and fashion

        section.section.section__img.section__img--pc
            img.section__img(src="./img/section_img_2.png")
        section.section.section__img.section__img--mobile
            img.section__img(src="./img/section_img_2_mb.png")

        footer.section.section_footer
            .section_footer__container
                .section_footer__social-links-gradient
                    .section_footer__social-links
                        img.section_footer__social-icon(src="./img/fb.png")
                        img.section_footer__social-icon(src="./img/inst.png")
                        a.section_footer__social-link(href="#")
                            .section_footer__etc @
                            | theloftfifthavenue
                .section_footer__claim
                    a.section_footer__claim_btn(href="#") claim your treat now
                .section_footer__contact
                    .section_footer__contact_title FOR FURTHER INQUIRIES PLEASE CALL
                    .section_footer__contacat_phone 800 - THE LOFT(843 5638)
                    .section_footer__contact_container
                        img.section_footer__contact_icon(src="./img/mail.png")
                        .section_footer__contact_email
                            | info.wv
                            .section_footer__etc @
                            | theloft5thavenue.com
            .section_footer__box
                .section_footer__container
                    .section_footer__title *Offer is valid only once per person
