@font-face {
  font-family: 'InterFace';
  src: url(./../fonts/Interface/IF_Std_Reg.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'InterFace';
  src: url(./../fonts/Interface/IF_Std_Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'InterFace';
  src: url(./../fonts/Interface/IF_Std_Black.ttf);
  font-weight: 900;
  font-style: normal;
}
